* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(104, 104, 104);
}

.dark-mode-body{
    background:rgb(73, 73, 73);
}
.container {
    margin-top: 30px;
    height: 90vh;
    width: 420px;
    background-color: black;
    border-radius: 12px;
    padding: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.dark-mode-container {
    background-color: rgb(228, 228, 228);
}

.container-input {
    font-size: 40px;
    height: 20%;
    width: 100%;
    text-align: right;
    border: none;
    border-radius: 12px;
    color: white;
    background: rgb(39, 39, 39);
}
.dark-mode-input {
    color: black;
    background: rgb(255, 255, 255);
}


.container .test {

    flex: 1;

}

.container .button-container {
    height: 100%;
    padding-bottom: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5.1fr);
    gap: 8px;
}

.button-container-button {
    color: white;
    font-size: 30px;
    background: rgb(53, 53, 53);
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 12px;
    transition: transform .3s ease-in-out;
    transform: scale(1);
    cursor: pointer;
}
.dark-mode-button {
    color: black;
    background: rgb(187, 187, 187);
}
.container .button-container button:hover{
    transform: scale(0.9);
}

.but-color{
    font-size: 30px;
    background: rgb(53, 53, 53);
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 12px;
    transition: transform .3s ease-in-out;
    transform: scale(1);
    cursor: pointer;
    color: rgb(255, 174, 0);
}
.dark-mode-but-color{
    color: rgb(255, 230, 0);
    background: rgb(160, 160, 160);
}